* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  color: black;
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
}

.title-text {
  font-size: 24px;
  font-family: "Luckiest Guy", cursive;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 5%;
  font-weight: 100;
  letter-spacing: 2.3px;
  padding: 10px 20px;
}


header {
  width: 100%;
  height: 136px;
  background-color: black;
  border-bottom: grey 2px solid;
}

.js-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  font-family: "Luckiest Guy", cursive;
  width: 80%;
  margin: 0 auto;
}

.js-submit {
  border-radius: 3px;
  margin-top: 3%;
  margin-bottom: 30%;
  background-color: red;
  color: white;
  font-family: "Luckiest Guy", cursive;
  height: 50px;
  width: 200px;
}
.js-submit:hover {
  cursor: pointer;
  border-color: black;
}

input {
  background-color: rgba(192, 188, 188, 0.493);
  border-radius: 3px 3px 3px 3px; 
  border-style: none;
  text-align: center;
}

label, input {
  padding: 10px;
  margin: auto;
  
}

#limit{
  margin-bottom: 20px;
}

.js-submit {
  font-size: 24px;
  color: white;
  margin: auto;
  padding: 10px;
  
}

.img-wrapper {
  text-align: center;
  width: 100%;
}
.form-wrapper {
  text-align: center;
  height: 320px;
  padding: 10px 20px;
}

.background-image {
  background-repeat: no-repeat;
  background-image: url("https://wallpaperaccess.com/full/14358.jpg");
  background-size: 100%;
  width: 100%;
  height: 180px;
  display: block;
  position: relative;
}
.background-image::after {
  background: url("https://wallpaperaccess.com/full/14358.jpg");
  opacity: 0.5;
}

/* done edit */
.js-display {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
  width: 320px;
}
/* style cover image for comic */
.comic-format {
  width: 100%;
  height: 100%;
}

.comic-item, .Thanos {
  align-self: center;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.comic-item > img {
  width: 300px;
  height: 400px;
  padding: 10px;
  margin-bottom: 10px;
}

.comic-item > h2 {
  font-size: 20px;
  padding: 10px;
  width: 300px;
}

.comic-item > p {
  font-size: 16px;
  margin: 10px;
  width: 270px;
  line-height: 26px;
}

footer {
  background-color: black;
  height: 100px;
  margin-top: 40px;
}

@media only screen and (min-width: 320px) {

}
 /* @media only screen and (min-width: 320px) {
  body {
    width: 100%;
  }
  .js-display {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto auto auto;
  }
}

 @media only screen and (min-width: 1000px) {
  .js-display {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto;
  } 

  @media only screen and (min-width: 1400px) {
    .js-display {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto auto auto;
    }  */




  

