* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: black;
  font-family: "Roboto", sans-serif;
}

.title-text {
  font-size: 40px;
  font-family: "Luckiest Guy", cursive;
  margin-top: 5%;
  text-align: center;
  margin-bottom: 5%;
}

header {
  width: 100%;
  height: 136px;
  background-color: black;
  border-bottom: grey 2px solid;
}

.js-form {
  text-align: center;
  font-size: 30px;
  width: 80%;
  margin: 0 auto;
}

.js-submit {
  border-radius: 2px;
  margin-top: 3%;
  margin-bottom: 30%;
  background-color: red;
  color: white;
  font-family: "Luckiest Guy", cursive;
  height: 50px;
  width: 200px;
}
.js-submit:hover {
  cursor: pointer;
}

label,
input {
  margin-bottom: 10px;
  display: inline-block;
}

label {
  width: 30%;
  text-align: right;
}

label + input {
  width: 30%;
  margin: 0 30% 0 4%;
}
input {
  font-size: 30px;
  margin-bottom: 5px;
}
.img-wrapper {
  text-align: center;
}
.form-wrapper {
  text-align: left;
  height: 400px;
}
.background-image {
  background-repeat: no-repeat;
  width: 800px;
  height: 500px;
  display: block;
  position: relative;
}
.background-image::after {
  background: url("https://wallpaperplay.com/walls/full/9/2/8/330254.jpg");
  opacity: 0.5;
}

.js-display {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
}
.comic-format {
  width: 300px;
  height: 400px;
}
