* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  color: black;
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
}

.title-text {
  font-size: 24px;
  font-family: "Luckiest Guy", cursive;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 5%;
  font-weight: 100;
  letter-spacing: 2.3px;
  padding: 10px 20px;
}


header {
  width: 100%;
  height: 136px;
  background-color: black;
  border-bottom: grey 2px solid;
}

.js-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  font-family: "Luckiest Guy", cursive;
  width: 80%;
  margin: 0 auto;
}

.js-submit {
  border-radius: 3px;
  margin-top: 3%;
  margin-bottom: 30%;
  background-color: red;
  color: white;
  font-family: "Luckiest Guy", cursive;
  height: 50px;
  width: 200px;
}
.js-submit:hover {
  cursor: pointer;
  border-color: black;
}

input {
  background-color: rgba(192, 188, 188, 0.493);
  border-radius: 3px 3px 3px 3px; 
  border-style: none;
  text-align: center;
}

label, input {
  padding: 10px;
  margin: auto;
  
}

#limit{
  margin-bottom: 20px;
}

.js-submit {
  font-size: 24px;
  color: white;
  margin: auto;
  padding: 10px;
  
}

.img-wrapper {
  text-align: center;
  width: 100%;
}
.form-wrapper {
  text-align: center;
  height: 320px;
  padding: 10px 20px;
}

.background-image {
  background-repeat: no-repeat;
  background-image: url("https://wallpaperaccess.com/full/14358.jpg");
  background-size: 100%;
  width: 100%;
  height: 180px;
  display: block;
  position: relative;
}
.background-image::after {
  background: url("https://wallpaperaccess.com/full/14358.jpg");
  opacity: 0.5;
}

/* done edit */
.js-display {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
  width: 320px;
}
/* style cover image for comic */
.comic-format {
  width: 100%;
  height: 100%;
}

.noimage {
  height: 380px;
  width: 280px;
  background-size: cover;
  margin: 10px auto;
  background-image: url(https://upload.wikimedia.org/wikipedia/en/6/60/Doctor_Doom_%282018%29.jpg);
}

.comic-item, .Thanos {
  align-self: center;
  margin: 20px 20px;
  border: 1px solid rgba(180, 180, 180, 0.63);
  border-radius: 3px 3px 3px 3px; 
  width: 100%;
  /* height: 750px; */
  padding: 10px;
  background-color: rgba(211, 211, 211, 0.801);
  box-shadow: 15px 15px 5px rgba(0, 0, 0, 0.322);
}

.comic-item > img {
  width: 300px;
  height: 400px;
  padding: 10px;
  margin-bottom: 10px;
}

.comic-item > h2 {
  font-size: 20px;
  min-height: 40px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  width: 300px;
}

.comic-item > p {
  font-size: 16px;
  text-align: left;
  margin: 10px;
  width: 270px;
  line-height: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 70px;
}

footer {
  background-color: black;
  height: 100px;
  margin-top: 40px;
}

/* Tablet size */
@media only screen and (min-width: 765px) {

  .background-image {
    height: 300px;
  }

  .title-text {
    font-size: 28px;
    margin: 15px 0px;
  }

  .js-form {
    font-size: 24px;
  }

  .js-display {
    width: auto;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;
  }

  .comic-item {
    width: 350px;
    align-self: auto;
    font-size: 0.5em;
    text-align: center;
  }

  .comic-item > h2 {
    text-align: center;
    padding: 10px;
    margin: 10px;
  }

  .comic-item > p {
    text-align: left;
    margin: auto;
    padding: 5px;
  }

}

@media only screen and (min-width: 1000px) {
  .background-image {
    height: 400px;
  }

  .display-wrapper {
    text-align: center;
  }

  .form-wrapper {
    height: 450px;
  }

  .js-form {
    height: 400px;
  }

  .title-text, .js-form {
    font-size: 2em;
  }

  input {
    font-size: 20px;
  }

}





/*   
style description */
/* overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
height: 70px; */